beautifulsoup4==4.8.1
datetime
uuid
opencv-python
face-recognition==1.2.3
bs4==0.0.1
Flask-Bootstrap==3.3.7.1
Flask-PyMongo==2.3.0
Flask-RESTful==0.3.7
flask-restplus==0.12.1
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.10.1
Keras==2.3.0
MarkupSafe==1.1.1
mtcnn==0.0.9
numpy==1.16.4
Pillow==6.1.0
pymongo==3.8.0
pandas
requests==2.22.0
requests-oauthlib==1.2.0
scikit-learn==0.21.2
textblob==0.15.3
tweepy==3.8.0
urllib3==1.26.5
utils==0.9.0
virtualenv==16.7.3
Werkzeug==0.15.4
widgetsnbextension==3.5.1